html {
    margin: 0;
    padding: 0;
}

body {
    background-color:rgba(161, 12, 12, 0.87)
}

h1 {
    color:black;
    text-align: center;


}


#container {
    /* display: flex; */
    /* flex-direction: column;  */
    background-color: rgba(5, 5, 5, 0.959);
    /* justify-content: center; */
    margin: auto;
    padding: 1%;
    border: 2px solid white;
    max-width: 60%;
    /* margin-left: 25%; */
   
}

.playingboard {
    padding: 1%;
    
}

#dealtcards {
    margin: auto;
    padding: 0.5%;
    background-color: rgba(106, 153, 207, 0.945);
    height: 150px;
}

#hitcards {
    margin: auto;
    padding: 0.5%;
    background-color:rgba(53, 76, 128, 0.993);
    height: 150px;
}

.dealt, .hit {
    margin: auto;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    font-weight: bold
}

.buttons {
    margin: auto;
    padding: 10px;
    height: 225px;
    width: 90%;
    text-align: center;
    line-height: 2.5em;
    color: black;

}

#deal, #newgame {
    margin: 20px auto;
    display: block;
    width: 80%;
}

#hit, #stand {
    display: inline;
    margin: 0 30px;


}

.score {
    display: block;
    text-align: center;
}

#alert {
    display: block;
    height: 50px;
    margin: 5px auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 2px;
    max-width: 70%;
    color: black;
    background-color: rgb(155, 213, 221);

    
}


