html {
    margin: 0;
    padding: 0;
}

body {
    background-color:rgba(44, 42, 42, 0.904)
}

h1 {
    color:black;
    text-align: center;

}


#container {
    /* display: flex; */
    /* flex-direction: column;  */
    background-color: rgba(32, 31, 31, 0.959);
    /* justify-content: center; */
    margin: auto;
    padding: 1%;
    border: 2px solid white;
    width: 60%;
    /* margin-left: 25%; */
   
}

.playingboard {
    background-color: rgba(211, 30, 30, 0.616);
    padding: 1%;
}

#dealercards {
    margin: auto;
    padding: 0.5%;
    background-color: rgba(106, 153, 207, 0.836);
    height: 150px;
}

#playercards {
    margin: auto;
    padding: 0.5%;
    background-color:rgb(30, 128, 123);
    height: 150px;
}

.buttons {
    margin: auto;
    padding: 10px;
    height: 225px;
    border: 1px solid white;
    width: 90%;
    text-align: center;
    line-height: 2.5em;
    color: black;

}

#deal, #newgame {
    margin: 20px auto;
    display: block;
    width: 80%;
}

#hit, #stand {
    display: inline;
    margin: 0 30px;


}

.score {
    display: block;
    text-align: center;
}

#playercardsscore, #dealercardsscore, #alert{
    display: block;
    margin: 5px auto;
    text-align: center;
    font-size: 25px;
    padding: 2px;
    max-width: 90%;
    color: black;
    background-color: rgb(21, 223, 213);

    
}


